# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Virtual environment
.venv/
venv/
env/

# Catalyst local config
frankenstein_project/.catalystrc

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.egg-info/
build/
